img {
  height: 250px;
}

.parentPost {
  margin: 0 auto 0 auto;
  width: 80%;
}

.childPost {
  font-size: 6em;
  width: 30%;
}

.titlePost {
  font-size: .8em;
}

.descriptionPost {
  margin-top: 10px;
  font-size: .8em;
}

.authorPost {
  font-size: .9em;
  font-weight: 700;
  padding-left: .5em;
}

.datePost {
  font-size: .7em;
}
